<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap" />
                <binding name="WebService1Soap1" />
                <binding name="WebService1Soap2" />
                <binding name="WebService1Soap3" />
                <binding name="WebService1Soap4" />
                <binding name="WebService1Soap5" />
                <binding name="WebService1Soap6" />
                <binding name="_3dSoap" />
                <binding name="_3dSoap1" />
                <binding name="_3dSoap2" />
                <binding name="WebService1Soap7" />
                <binding name="_3dSoap3" />
                <binding name="_3dSoap4" />
                <binding name="_3dSoap5" />
                <binding name="_3dSoap6" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://139.224.193.145:1111/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
                contract="WebData.WebService1Soap" name="WebService1Soap" />
            <endpoint address="http://139.224.193.145:1111/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap1"
                contract="WebData1.WebService1Soap" name="WebService1Soap1" />
            <endpoint address="http://139.224.193.145:1111/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap2"
                contract="MeKeyTest.WebService1Soap" name="WebService1Soap2" />
            <endpoint address="http://139.224.193.145:1111/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap3"
                contract="ML.WebService1Soap" name="WebService1Soap3" />
            <endpoint address="http://139.224.193.145:1111/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap4"
                contract="TT.WebService1Soap" name="WebService1Soap4" />
            <endpoint address="http://139.224.193.145:1111/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap5"
                contract="YYF.WebService1Soap" name="WebService1Soap5" />
            <endpoint address="http://139.224.193.145:1111/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap6"
                contract="DataWebService.WebService1Soap" name="WebService1Soap6" />
            <endpoint address="http://139.224.193.145:1111/3d.asmx" binding="basicHttpBinding"
                bindingConfiguration="_3dSoap" contract="ServiceReference1._3dSoap"
                name="_3dSoap" />
            <endpoint address="http://139.224.193.145:1111/3d.asmx" binding="basicHttpBinding"
                bindingConfiguration="_3dSoap1" contract="ServiceReference2._3dSoap"
                name="_3dSoap1" />
            <endpoint address="http://139.224.193.145:1111/3d.asmx" binding="basicHttpBinding"
                bindingConfiguration="_3dSoap2" contract="ServiceReference3._3dSoap"
                name="_3dSoap2" />
            <endpoint address="http://139.224.193.145:1111/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap7"
                contract="SSSS.WebService1Soap" name="WebService1Soap7" />
            <endpoint address="http://139.224.193.145:1111/3d.asmx" binding="basicHttpBinding"
                bindingConfiguration="_3dSoap3" contract="db._3dSoap" name="_3dSoap3" />
            <endpoint address="http://139.224.193.145:1111/3d.asmx" binding="basicHttpBinding"
                bindingConfiguration="_3dSoap4" contract="DBase._3dSoap" name="_3dSoap4" />
            <endpoint address="http://139.224.193.145:1111/3d.asmx" binding="basicHttpBinding"
                bindingConfiguration="_3dSoap5" contract="gg._3dSoap" name="_3dSoap5" />
            <endpoint address="http://139.224.193.145:1111/3d.asmx" binding="basicHttpBinding"
                bindingConfiguration="_3dSoap6" contract="mekey._3dSoap" name="_3dSoap6" />
        </client>
    </system.serviceModel>
</configuration>